[Unit]
Description=Container Journald Log to GELF

[Service]
ExecStart=/absolute/path/to/cj2gelf --gelfhost <host> --gelfport <port>
Restart=always

[Install]
WantedBy=multi-user.target
